@font-face {
    font-family: 'Lato';
    src:url('../fonts/Lato-Regular.eot') format('eot'),
      url('../fonts/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face{
  font-family: OpenSans;
  src:url('../fonts/OpenSans-Regular.ttf');
}

body, html{
  height: 100%;
  width: 100%;
}

body{
  color: #373A3C !important;
  font-family: Lato;
  background-color: #337AB7;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-image:url('../images/assets/test1.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#login-intro {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 10;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#logo-container {
  color: #FFFFFF;
  font-size: 28px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.sub-brand-container {
  color: #FFFFFF;
  font-size: 22px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  padding-bottom: 20px;
  text-align: center;
}

.form-control {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #FFFFFF !important;
  font-size: 16px;
  color: #FFFFFF;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
}

.input-label{
  font-family: Lato, sans-serif !important;
  font-weight: normal !important;
  padding-left: 4px;
  color: #FFFFFF !important;
}

#login-btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: transparent;
  box-shadow: none !important;
  border: 2px solid #FFFFFF !important;
  font-size: 16px;
}

#login-btn:active {
  background-color: #FFFFFF;
  color: #337AB7;
}

.forgot-password {
 color: #FFFFFF;
 cursor: pointer;
}

#login-input-container {
  position: relative;
}

#login-form {
  padding: 0 20px;
}

#login-form-loader {
  position: absolute;
  height: 100%;`
  width: 100%;
  background: transparent;
  z-index: 10;
}