@font-face{
	font-family: OpenSans;
	src:url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  	font-family: 'Lato';
  	src:url('../fonts/Lato-Regular.eot') format('eot'),
    	url('../fonts/Lato-Regular.woff') format('woff'),
    	url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'Lato-Thin';
  	src:url('../fonts/Lato-Thin.woff2') format('woff2'),
		url('../fonts/Lato-Thin.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

html {
	height: 100vh;
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	color: #373A3C !important;
	font-family: Lato;
	background-color: #ddd;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
}

select {
	cursor: pointer !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.align-right {
	text-align: right;
}

.form-control {
	width: 100% !important;
}

.modal-content {
	float: left;
	width: 100%;
	border-radius: 0 !important;
}

.modal-title {
	font-size: 18px;
}

.modal-header {
	padding: 0 12px !important;
	height: 50px !important;
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
	border-radius: 0 !important;
}

#activeSortModal .modal-body {
	float: left;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #FFFFFF;
} 

.modal-footer {
	float: left;
	position: relative;
	width: 100%;
}


#destinationInfoModal,
#destinationInfoModal .modal-dialog,
#destinationInfoModal .modal-content {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	width: 100% !important
}

#destinationInfoModal .modal-title {
	padding-top: 3px !important;
}

#destinationInfoModal .modal-body {
	height: calc(100vh - 115px) !important;
	width: 100% !important;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}

.btn:active,
.btn:focus,
.btn:hover {
	outline: none !important;
	box-shadow: none !important;
}

#header {
	height: 60px;
	background-color: #00BB95;
	color: #FFFFFF;
	padding: 0 20px;
}

#header > div {
	float: left;
	width: 50%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

.right-align-container {
	width: 100%;
	text-align: right;
}

.header-logo {
	font-size: 20px;
}

#menuToggleBtn {
	font-size: 44px !important;
}

.content {
	height: calc(100vh - 120px);
	overflow-y: scroll;
	width: 100%;
	padding: 20px 20px;
}

.destinations-container {
	float: left;
}

.content-header {
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
}

.content-header > div {
	float: left;
	height: 100%;
	width: 50%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

.page-label {
	float: left;
	width: 100%;
	font-size: 20px;
}

#sortAdjustBtn {
	float: right;
	padding: 0 10px;
	border: 1px solid #00BB95;
	color: #00BB95;
	border-radius: 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

.destination {
	position: relative;
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 50px;
}

.destination-img {
	height: calc(100% - 200px);
	width: 100%;
}

.destination-info-container {
	height: 120px;
	width: 100%;
	padding: 10px;
}

.destination-name-container {
	float: left;
	height: 60px;
	width: calc(100% - 100px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.destination-name-container > div {
	width: 100%;
	text-align: left;
}

.destination-name {
	font-size: 18px;
	font-weight: bold;
}

.destination-city {
	font-size: 16px;
}

.destination-heart-container {
	position: relative;
	float: left;
	height: 60px;
	width: 100px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: left;
	flex-direction: left;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

.destination-heart-container > div {
	width: 100%;
}

.rating-average-container {
	position: absolute;
	height: 100%;
	width: 100%;
	font-size: 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: left;
	flex-direction: left;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
	padding-right: 45px;
}

.destination-heart {
	font-size: 40px !important;
	color: #00BB95;
}

.destination-desc-container {
	margin-top: 20px;
	float: left;
	width: 100%;
	height: 60px;
	overflow: hidden;
	text-align: justify;
}

.destination-expand-container {
	float: left;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.read-more {
	text-decoration: underline;
	font-size: 16px;
}

.search-container {
	height: 60px;
	width: 100%;
	background-color: #FFFFFF;
}

.search-container > .form-control {
	height: 100%;
	font-size: 16px !important;
	padding-left: 22px !important;
	width: calc(100% - 100px) !important;
	border-radius: 0 !important;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.search-container > .form-control:focus,
.search-container > .form-control:active {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

#navigation {
	position: fixed;
	bottom: 0;
	left: -70%;
	z-index: 100;
	height: calc(100vh - 60px);
	width: 70%;
	background-color: #FFFFFF;
}

.nav-upper {
	height: 50%;
	width: 100%;
	background-color: #00BB95;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.display-pic-container {
	position: relative;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 3px solid #FFFFFF;
	overflow: hidden;
}

.display-pic-container > img {
	height: 100%;
	width: 100%;
}

#displayName {
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 25px;
}

.nav-lower {
	height: 50%;
	width: 100%;
}

.nav-item, .logout-container {
	height: 50px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	font-size: 18px;
	border-bottom: 1px solid #eee;
}

.nav-item.active {
	background-color: #eee;
}

#logoutBtn {
	width: 200px;
}