@font-face{
	font-family: OpenSans;
	src:url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  	font-family: 'Lato';
  	src:url('../fonts/Lato-Regular.eot') format('eot'),
    	url('../fonts/Lato-Regular.woff') format('woff'),
    	url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'Lato-Thin';
  	src:url('../fonts/Lato-Thin.woff2') format('woff2'),
		url('../fonts/Lato-Thin.ttf') format('truetype');
}

html {
	height: 100vh;
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	color: #373A3C !important;
	font-family: Lato;
	background-color: #ddd;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
}

select {
	cursor: pointer !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-control {
	width: 100% !important;
}

#mainPreloader {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100vh;
	background-color: #FFFFFF;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#header {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #337AB7;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

.client-name {
	font-size: 18px;	
	color: #FFFFFF;
}

.nav-container {
	position: fixed;
	z-index: 20;
	top: 50px;
	left: 0;
	background-color: #FFFFFF;
	float: left;
  	width: 100%;
  	margin: 0 auto;
  	padding: 0 !important;
}

.nav-item {
	float: left;
	text-align: center;
	width: 33.33%;
	height: 45px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.nav-item.active {
	font-weight: bold;
	color: #337AB7 !important;
}

#navHistory {
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
}

.hr-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: .30rem;
	background-color: rgba(51,122,183, 0.3);
}

.nav-border {
	height: .30rem;
	width: 33.33%;
	background-color: #337AB7;
	margin: 0;
	border: none;
	transition: .3s ease-in-out;
}

.content {
	float: left;
	margin-top: 95px;
	min-height: calc(100vh - 95px);
	width: 100%;
}

.search-container {
	width: 100% !important;
	height: 50px !important;
	border-bottom: 1px solid #D9D9D9;
}

.search-text-box {
	height: 100% !important;
	width: 100% !important;
	padding-left: 12px !important;
	font-size: 14px !important;
	background-color: #FFFFFF !important;
	border-radius: 0 !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}

.active-entry-container {
	float: left;
	padding-bottom: 100px !important;
}

.entry {
	float: left;
	padding: 0;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #D9D9D9;
	background-color: #FFFFFF;
}

.active-entry-left {
	float: left;
	height: 100%;
	width: 60%;
	padding-left: 12px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.active-entry-left:active {
	background-color: #F5F5F5 !important;
}

.active-entry-left:active ~ .active-entry-right {
	background-color: #F5F5F5 !important;
}

.active-entry-left > div {
	position: relative;
	width: 100%;
	text-align: left;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.active-entry-name {
	font-size: 16px;
}

.active-entry-date {
	font-size: 12px;
}

.active-entry-right {
	float: left;
	position: relative;
	height: 100%;
	width: 40%;
	display: -webkit-flex;
	padding-right: 12px;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.active-entry-right > .status-container {
	width: 100%;
	text-align: right;
}

.active-entry-status {
	font-size: 14px;
}

.active-entry-status.pending {
	color: #FFBF00;
}

.active-entry-status.processing {
	color: #00B969;
}

.active-entry-action-container {
	position: absolute;
	right: -110%;
	height: 100%;
	width: 100%;
	z-index: 10;
	padding: 20px !important;
	border-left: 1px solid #D9D9D9;
	background-color: #FFFFFF;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	transition: .3s ease-in-out;
}

.active-entry-action-container.visible {
	right: 0;
}

.active-entry-action-container > div {
	width: 100%;
	text-align: center;
}

.close-action-icon {
	font-size: 22px !important;
	color: #999;
	padding-bottom: 1px;
}

.active-entry-action {
	padding: 5px !important;
	height: auto !important;
	margin-left: 20px;
	width: calc(100% - 20px);
	font-size: 12px !important;
	text-transform: none !important;
	color: #FFFFFF;
}

.active-entry-action.processing {
	background-color: #00B969;
}

.active-entry-action.done {
	background-color: #337AB7;
}

.active-entry-action.processing:hover,
.active-entry-action.processing:active,
.active-entry-action.processing:focus {
	color: #FFFFFF;
	outline: none !important;
	background-color: #00B969;
}

.active-entry-action.done:hover,
.active-entry-action.done:active,
.active-entry-action.done:focus {
	color: #FFFFFF;
	outline: none !important;
	background-color: #337AB7;
}

.btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
}

.add-btn-container {
	position: fixed;
	z-index: 20 !important;
	right: 20px;
	bottom: 20px;
}

#addTransactionBtn {
	background-color: #337AB7 !important;
}

.content-header {
	float: left;
	width: 100%;
	padding: 12px;
}

.content-header-left {
	float: left;
	width: 50%;
	height: 100%;
}

.content-header-right {
	float: left;
	text-align: right;
	width: 50%;
	height: 100%;
}

.modal-content {
	float: left;
	width: 100%;
	border-radius: 0 !important;
}

.modal-title {
	font-size: 18px;
}

.modal-header {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
	border-radius: 0 !important;
}

#activeSortModal .modal-body {
	float: left;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #FFFFFF;
} 

.modal-footer {
	float: left;
	position: relative;
	width: 100%;
}

.sort-selector {
	float: left;	
	height: 50px;
	width: calc(50% - 10px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
}

.sort-selector.active {
	background-color: #337AB7;
	color: #FFFFFF;
}

#activeSortByDate {
	margin-left: 20px;
}

.btn {
	text-transform: none !important; 
}

.modal-btn.btn-danger {
	background-color: #d9534f !important;
}

.modal-btn:hover,
.modal-btn:active,
.modal-btn:focus {
	color: #FFFFFF;
	outline: none !important;
	background-color: #337AB7;
}

.clockpicker-button {
	background-color: #337AB7 !important;
}

.clockpicker-button:hover,
.clockpicker-button:active,
.clockpicker-button:focus {
	color: #FFFFFF !important;
	outline: none !important;
	background-color: #337AB7 !important;
}


#addTransactionModal,
#addTransactionModal .modal-dialog,
#addTransactionModal .modal-content {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	width: 100% !important
}

#addTransactionModal .modal-title {
	padding-top: 3px !important;
}

#addTransactionModal .modal-body {
	height: calc(100vh - 126px) !important;
	width: 100% !important;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}

#addTransactionModal .btn-primary {
	background-color: #337AB7 !important;
	width: 200px !important;
}

#addTransactionModal .form-control {
	text-transform: capitalize;
	height: 45px;
}

#addTransactionNameContainer {
	margin-top: 10px;
}

.input-label{
	font-family: Lato, sans-serif !important;
	font-weight: normal !important;
	padding-left: 4px;
	padding-top: 5px;
	font-size: 12px !important;
	color: #337AB7 !important;
}

.input-container {
	margin-bottom: 20px;
	position: relative;
}

.input-container .form-control:not(#pickupType) {
	padding-right: 50px;
}

.input-container.left .error-icon-container {
	right: 35px;
}

.input-container.right .error-icon-container,
.input-container.whole .error-icon-container {
	right: 15px;
}

.input-container .error-icon-container {
	position: absolute;
	top: 0;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.error-icon-container i {
	color: #d9534f !important;
	font-size: 25px !important;
	cursor: pointer;
}
.input-container:not(.whole) {
	float: left;
	width: 50%;
}
.input-container.whole {
	float: left;
	width: 100%;
	position: relative;
}

.input-container.left {
	padding-right: 20px;
}

.input-container.right {
	padding-left: 20px;
}


.twitter-typeahead {
	width: 100%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  	color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 100%;
  margin-top: 0;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.input-group-label {
	float: left;
	width: 100%;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.service-container {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.service {
	height: 60px;
	width: 100%;
	background-color: #FFFFFF;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.service-left {
	float: left;
	width: 60%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.service-right {
	float: left;
	position: relative;
	width: 40%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.service-left > div {
	width: 100%;
	text-align: left;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.service-right > div {
	width: 100%;
}

.service-name {
	font-size: 16px;
}

.service-price {
	font-size: 12px;
}

.number-operations-btn {
	float: right;
	background-color: #337AB7 !important;
	color: #FFFFFF;
	box-shadow: none !important;
	height: 35px !important;
	width: 30px;
	padding: 0 !important;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.number-operations-btn:hover,
.number-operations-btn:active,
.number-operations-btn:focus {
	color: #FFFFFF;
	outline: none !important;
	background-color: #00B969;
	box-shadow: none !important;
}

.service-quantity-text {
	float: right;
	width: 55px !important;
	height: 35px !important;
	border-radius: 0 !important;
	text-align: center;
}

.number-operations-btn.minus {
	border-radius: 5px 0 0 5px;
}

.number-operations-btn.plus {
	border-radius: 0 5px 5px 0;
}

.transaction-total-container {
	float: left;
	padding-top: 7px;
}

#transactionTotal {
	font-size: 18px;
}

.arrow-back-container {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}