{% if user.role == 'Administrator' %}
<div id="settingsNavContainer">
	<div id="settingsNavAccount" class="settings-nav-item col-xs-3 active" onclick="show_account_settings()">Account</div>
	<div id="settingsNavAccount" class="settings-nav-item col-xs-3" onclick="show_usage_settings()">Usage</div>
	<div id="settingsNavService" class="settings-nav-item col-xs-3" onclick="show_service_settings()">Services</div>
	<div id="settingsNavUser" class="settings-nav-item col-xs-3" onclick="show_user_settings()">Users</div>
</div>
{% else %}
<div id="settingsNavContainer">
	<div id="settingsNavAccount" class="settings-nav-item col-xs-6 active" onclick="show_account_settings()">Account</div>
	<div id="settingsNavAccount" class="settings-nav-item col-xs-6" onclick="show_usage_settings()">Usage</div>
</div>
{% endif %}
<div id="settingsContent">
	<div class="account-container">
		<span class="input-group-label">Name</span>
		<input type="text" id="userName" class="form-control" placeholder="Full Name" value="{{ user.name }}">
		<span class="input-group-label">Email</span>
		<input type="text" id="userEmail" class="form-control" placeholder="Email address" value="{{ user.email }}">
	</div>
</div>