<div class="status-container">
	{% if entry.status == 'Pending' %}
	<span class="active-entry-status pending">{{ entry.status }}</span>
	{% elif entry.status == 'Processing' %}
	<span class="active-entry-status processing">{{ entry.status }}</span>
	{% else %}
	<span class="active-entry-status done">{{ entry.status }}</span>
	{% endif %}
</div>
<div class="active-entry-action-container">
	<i class="material-icons close-action-icon" data-button-id="{{ entry.id }}ActionButton">close</i>
	{% if entry.status == 'Pending' %}
	<button type="button" id="{{ entry.id }}ActionButton" class="active-entry-action btn processing waves-effect waves-light" data-loading-text="Please wait" data-complete-text="Process" onclick="process_transaction({{ entry.id }})">Process</Button>
	{% elif entry.status == 'Processing' %}
	<button type="button" id="{{ entry.id }}ActionButton" class="active-entry-action btn done waves-effect waves-light" data-loading-text="Please wait" data-complete-text="Done" onclick="done_transaction({{ entry.id }})">Done</Button>
	{% else %}
	<button type="button" id="{{ entry.id }}ActionButton" class="active-entry-action btn finish waves-effect waves-light" data-loading-text="Please wait" data-complete-text="Pickup/Deliver" onclick="finish_transaction({{ entry.id }})">Pickup/Deliver</Button>
	{% endif %}
</div>

<script type="text/javascript">
	$('.close-action-icon').on('click', function (e) {
	  e.stopPropagation();
	  button_id = $(this).attr('data-button-id');
	  $('#'+button_id).button('complete');
	  $('.active-entry-action-container').removeClass('visible');
	});
</script>