<div class="blast-report-container">
	<table class="table">
		<tbody>
			<tr>
				<td class="report-success">Success</td>
				<td class="align-right">{{ batch.done }}</td>
			</tr>
			<tr>
				{% if batch.failed != 0 %}
				<td class="report-failed">Failed <span id="retryBlastBtn" class="link">(click here to retry)</span></td>
				{% else %}
				<td class="report-failed">Failed</td>
				{% endif %}
				<td class="align-right">{{ batch.failed }}</td>
			</tr>
		</tbody>
	</table>
	<div class="blast-overlay-footer align-right">
		<button type="button" class="btn btn-primary" onclick="hide_blast_progress()">Done</button>
	</div>
</div>