<div class="content-header">
	<div class="content-header-left">
		<div class="back-btn">
			<div onclick="show_blasts('continue')">
				<i class="material-icons">&#xE5C4;</i>
				<span>Back</span>
			</div>
		</div>
	</div>
	<div class="content-header-right">
	</div>
</div>
<div class="content-body">
	<div class="conversation-container">
		<div class="conversation-item">
			<div class="conversation-item-header">
				<div class="message-item-contact-container">
					<span class="blast-sender-label">Sent by:</span>
					<span class="blast-sender"><strong>{{ batch.sender_name }}</strong></span><br/>
					<span class="blast-sender-label">To:</span>
					<span class="blast-recipient">{{ batch.recipient }}</span>
				</div>
				<div class="message-item-date-container">
					<span class="message-item-date">{{ batch.date }}</span><br />
					<span class="message-item-time">{{ batch.time }}</span>
				</div>
			</div>
			<div class="conversation-item-body">
				{{ batch.content }}
			</div>
			<div class="conversation-footer">
				<table class="table">
					<tbody>
						<tr>
							<td class="report-success">Success</td>
							<td class="align-right">{{ batch.done }}</td>
						</tr>
						<tr>
							{% if batch.failed != 0 %}
							<td class="report-failed">Failed <span id="retryBlastBtn" class="link">(click here to retry)</span></td>
							{% else %}
							<td class="report-failed">Failed</td>
							{% endif %}
							<td class="align-right">{{ batch.failed }}</td>
						</tr>
						<tr class="batch-size-tr">
							<td class="report-total">TOTAL</td>
							<td class="align-right">{{ batch.batch_size }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="blast-info-recipients-label">
		<span>Recipients</span>
	</div>
	<div class="blast-info-recipients">
		<table class="table">
			<thead>
				<tr>
					<th>Contact</th>
					<th>Mobile Number</th>
					<th class="align-right">Status</th>
				</tr>
			</thead>
			<tbody>
				{% for message in failed %}
				<tr>
					<td>{{ message.contact_name }}</td>
					<td>{{ message.msisdn }}</td>
					<td class="report-failed align-right">{{ message.status }}</td>
				</tr>
				{% endfor %}
				{% for message in success %}
				<tr>
					<td>{{ message.contact_name }}</td>
					<td>{{ message.msisdn }}</td>
					<td class="report-success align-right">{{ message.status }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>