<div class="modal-creator-container">
    <span id="cargoCreatedBy" class="created-by">Created by {{ cargo.created_by }}</span><br/>
    <span id="cargoCreatedOn" class="created-on">{{ cargo.date_created }} | {{ cargo.time_created }}</span>
</div>
<span class="input-group-label">Cargo Info</span>
<div class="input-container left">
    <input type="text" id="editCargoNumber" readOnly="ReadOnly" class="form-control floatlabel" data-class="input-label" placeholder="Cargo Number" value="{{ cargo.cargo_no }}">
</div>
<div class="input-container right">
    <input type="text" id="editCargoTruck" readOnly="ReadOnly" class="form-control floatlabel" data-class="input-label" placeholder="Truck" value="{{ cargo.truck }}">
</div>
<div class="input-container left">
    <input type="text" id="editCargoDriver" readOnly="ReadOnly" class="form-control floatlabel" data-class="input-label" placeholder="Driver" value="{{ cargo.driver }}">
</div>
<div class="input-container right">
    <input type="text" id="editCargoCrew" readOnly="ReadOnly" class="form-control floatlabel" data-class="input-label" placeholder="Assistant Driver" value="{{ cargo.crew }}">
</div>
<div class="input-container left">
    <input type="text" id="editCargoOrigin" readOnly="ReadOnly" class="form-control floatlabel" data-class="input-label" placeholder="Origin" value="{{ cargo.origin }}">
</div>
<div class="input-container right">
    <input type="text" id="editCargoDestination" readOnly="ReadOnly" class="form-control floatlabel" data-class="input-label" placeholder="Destination" value="{{ cargo.destination }}">
</div>
<div class="input-container left">
    <input type="text" id="editCargoDepartureDate" readOnly="ReadOnly" class="form-control floatlabel datepicker" data-class="input-label" placeholder="Departure Date" value="{{ cargo.departure_date }}">
</div>
<div class="input-container right">
    <input type="text" id="editCargoDepartureTime" readOnly="ReadOnly" class="form-control floatlabel clockpicker" data-class="input-label" placeholder="Departure Time" value="{{ cargo.departure_time }}">
</div>
<div class="input-container left">
    <input type="text" id="editCargoArrivalDate" readOnly="ReadOnly" class="form-control floatlabel datepicker" data-class="input-label" placeholder="Arrival Date" value="{{ cargo.arrival_date }}">
</div>
<div class="input-container right">
    <input type="text" id="editCargoArrivalTime" readOnly="ReadOnly" class="form-control floatlabel clockpicker" data-class="input-label" placeholder="Arrival Time" value="{{ cargo.arrival_time }}">
</div>
{% if item_count == 1 %}
<span class="input-group-label">Cargo Content ({{ item_count }} item)</span>
{% else %}
<span class="input-group-label">Cargo Content ({{ item_count }} items)</span>
{% endif %}
<table id="cargoItemTable" class="table">
    <thead>
        <tr>
            <th class="receive-cargo-number-td">#</th>
            <th class="receive-cargo-waybill-td">Waybill No.</th>
            <th class="receive-cargo-recipient-td">Consigned To</th>
            <th class="receive-cargo-item-td">Item</th>
            <th class="receive-cargo-quantity-td align-right">Quantity</th>
            <th class="receive-cargo-unit-td align-right">Unit</th>
        </tr>
    </thead>
    <tbody>
        {% set past_waybill_no = '' %}
        {% for item in cargo_items %}
        <tr id="{{ item.id }}" class="edit-cargo-item">
            {% if item.waybill_no != past_waybill_no %}
            <td class="receive-cargo-number-td">{{ loop.index }}</td>
            <td class="receive-cargo-waybill-td">{{ item.waybill_no }}</td>
            <td class="receive-cargo-recipient-td">{{ item.recipient }}</td>
            {% else %}
            <td class="receive-cargo-waybill-td"></td>
            <td class="receive-cargo-recipient-td"></td>
            {% endif %}
            {% set past_waybill_no = item.waybill_no %}
            <td class="receive-cargo-item-td">{{ item.item }}</td>
            <td class="receive-cargo-quantity-td align-right">{{ item.quantity }}</td>
            <td class="receive-cargo-unit-td align-right">{{ item.unit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<span class="input-group-label">Additional Notes</span>
<textarea id="editCargoNotes" disabled>{{ cargo.notes }}</textarea>
<span class="input-group-label">Actions</span>
<div id="cargoActions" class="actions-btn-container">
    {% if cargo.arrival_date == '' %}
    <button class="btn btn-primary action-btn" data-toggle="modal" data-target="#receiveCargoModal">Receive</button>
    {% endif %}
    <button class="btn btn-primary action-btn" onclick="print_cargo_items()">Print</button>
    <button class="btn btn-danger action-btn">Delete</button>
</div>

<script type="text/javascript">
    $('.form-control.floatlabel').floatlabel({
        labelEndTop:'-2px'
    });
</script>