{% set past_waybill_no = '' %}
{% for item in cargo_items %}
<tr id="{{ item.id }}" class="cargo-item">
    {% if item.waybill_no != past_waybill_no %}
    <td class="cargo-waybill-td">{{ item.waybill_no }}</td>
    <td class="cargo-recipient-td">{{ item.recipient }}</td>
    {% else %}
    <td class="cargo-waybill-td"></td>
    <td class="cargo-recipient-td"></td>
    {% endif %}
    {% set past_waybill_no = item.waybill_no %}
    <td class="cargo-item-td">{{ item.item }}</td>
    <td class="cargo-quantity-td align-right">{{ item.quantity }}</td>
    <td class="cargo-unit-td align-right">{{ item.unit }}</td>
</tr>
{% endfor %}

<!-- {% for item in cargo_items %}
<tr id="{{ item.id }}">
    <td class="cargo-waybill-td">{{ item.waybill_no }}</td>
    <td class="cargo-recipient-td">{{ item.recipient }}</td>
    <td class="cargo-item-td">{{ item.item }}</td>
    <td class="cargo-quantity-td align-right">{{ item.quantity }}</td>
    <td class="cargo-unit-td align-right">{{ item.unit }}</td>
</tr>
{% endfor %} -->