<div class="content-header">
	<div class="content-right-btn-container">
		<button class="btn control-btn" onclick="show_contacts('reset')"><i class="material-icons">&#xE5D5;</i></button>
		<button class="btn control-btn" data-toggle="modal" data-target="#uploadContactsModal"><i class="material-icons">&#xE2C6;</i></button>
		<button id="addContactBtn" class="btn control-btn" data-toggle="modal" data-target="#addContactModal"><i class="material-icons md-30">add</i></button>
		<button id="deleteContactsBtn" data-toggle="modal" data-target="#deleteContactsModal" class="btn control-btn hidden"><i class="material-icons">&#xE872;</i></button>
		<div class="pagination-btn-container">
			<div class="pagination-label-container">
				<span class="pagination-label"><strong id="paginationShowingContacts">{{ showing }}</strong></span>
				<span class="pagination-label separator">of</span>
				<span class="pagination-label"><strong id="paginationTotalContacts">{{ total_entries }}</strong></span>
			</div>
			{% if prev_btn == 'enabled' %}
			<button class="btn pagination-btn left contact" onclick="contact_prev_page()"><i class="material-icons">&#xE5CB;</i></button>
			{% else %}
			<button class="btn pagination-btn left contact" onclick="contact_prev_page()" disabled><i class="material-icons">&#xE5CB;</i></button>
			{% endif %}

			{% if next_btn == 'enabled' %}
			<button class="btn pagination-btn right contact" onclick="contact_next_page()"><i class="material-icons">&#xE5CC;</i></button>
			{% else %}
			<button class="btn pagination-btn right contact" onclick="contact_next_page()" disabled><i class="material-icons">&#xE5CC;</i></button>
			{% endif %}
		</div>
	</div>
</div>
{% if not contacts[0] %}
<div id="emptyBlast" class="empty-overlay">
	<span class="empty-label">No contacts yet.</span>
</div>
{% endif %}
<div id="contentBody" class="content-body">
	<table class="table content-table">
		<thead>
			<tr class="search-panel conversation">
				<td class="icon-td">
					<span id="clearContactsSearch" class="hidden link" onclick="show_contacts('reset')">Clear Search</span>
				</td>
				<td class="contact-name-td">
					<input type="text" id="searchContactsName" class="form-control search-contacts search-text" placeholder="Name">
				</td>
				<td class="contact-type-td">
					<select id="searchContactsType" class="form-control search-contacts search-text">
						<option value="">All</option>
						<option value="Customer">Customer</option>
						<option value="Staff">Staff</option>
						<option value="Both">Customer & Staff</option>
					</select>
				</td>
				<td class="contact-msisdn-td align-right">
					<input type="text" id="searchContactsMsisdn" class="form-control search-contacts search-text align-right datepicker" placeholder="Mobile Number">
				</td>
			</tr>
		</thead>
		<tbody id="contactsTbody">
			{% for contact in contacts %}
			<tr>
				<td class="icon-td">
					<i data-id="{{ contact.id }}" class="contacts-check material-icons">&#xE835;</i>
				</td>
				<td class="contact-name-td" id="{{ contact.msisdn }}" data-toggle="modal" data-target="#editContactModal" onclick="supply_info_from_contacts(this.id)">{{ contact.name }}</td>
				{% if contact.contact_type == 'Both' %}
				<td class="contact-type-td" id="{{ contact.msisdn }}" data-toggle="modal" data-target="#editContactModal" onclick="supply_info_from_contacts(this.id)">Customer & Staff</td>
				{% else %}
				<td class="contact-type-td" id="{{ contact.msisdn }}" data-toggle="modal" data-target="#editContactModal" onclick="supply_info_from_contacts(this.id)">{{ contact.contact_type }}</td>
				{% endif %}
				<td class="contact-msisdn-td align-right" id="{{ contact.msisdn }}" data-toggle="modal" data-target="#editContactModal" onclick="supply_info_from_contacts(this.id)">{{ contact.msisdn }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script type="text/javascript">
$(".datepicker").datepicker({
    dateFormat: "MM dd, yy"
});

$('.search-contacts').keypress(function(e){
    if (e.which == 13) {
    	search_contacts($(this).attr('id'));
    }
});

$('.search-contacts').change(function(){
    search_contacts($(this).attr('id'));
});

$('.contacts-check').on('click', function () {
  var entry_id = $(this).attr('data-id');
  if ($(this).hasClass('checked')) {
    $(this).removeClass('checked');
    $(this).html('&#xE835;');
    deselect_contact(entry_id);
  }
  else {
    $(this).addClass('checked');
    $(this).html('&#xE834;');
    select_contact(entry_id);
  }
});

</script>