<div class="content-header">
	<div class="content-right-btn-container">
		<button class="btn control-btn" onclick="show_groups('reset')"><i class="material-icons">&#xE5D5;</i></button>
		<button id="addGroupBtn" class="btn control-btn" data-toggle="modal" data-target="#createGroupModal"><i class="material-icons md-30">add</i></button>
		<button id="deleteGroupsBtn" data-toggle="modal" data-target="#deleteGroupsModal" class="btn control-btn hidden"><i class="material-icons">&#xE872;</i></button>
		<div class="pagination-btn-container">
			<div class="pagination-label-container">
				<span class="pagination-label"><strong id="paginationShowingGroups">{{ showing }}</strong></span>
				<span class="pagination-label separator">of</span>
				<span class="pagination-label"><strong id="paginationTotalGroups">{{ total_entries }}</strong></span>
			</div>
			{% if prev_btn == 'enabled' %}
			<button class="btn pagination-btn left group" onclick="group_prev_page()"><i class="material-icons">&#xE5CB;</i></button>
			{% else %}
			<button class="btn pagination-btn left group" onclick="group_prev_page()" disabled><i class="material-icons">&#xE5CB;</i></button>
			{% endif %}

			{% if next_btn == 'enabled' %}
			<button class="btn pagination-btn right group" onclick="group_next_page()"><i class="material-icons">&#xE5CC;</i></button>
			{% else %}
			<button class="btn pagination-btn right group" onclick="group_next_page()" disabled><i class="material-icons">&#xE5CC;</i></button>
			{% endif %}
		</div>
	</div>
</div>
{% if not groups[0] %}
<div id="emptyBlast" class="empty-overlay">
	<span class="empty-label">No groups yet.</span>
</div>
{% endif %}
<div id="contentBody" class="content-body">
	<table class="table content-table">
		<thead>
			<tr class="search-panel conversation">
				<td class="icon-td">
					<span id="clearGroupsSearch" class="hidden link" onclick="show_groups('reset')">Clear Search</span>
				</td>
				<td class="group-name-td">
					<input type="text" id="searchGroupsName" class="form-control search-groups search-text" placeholder="Name">
				</td>
				<td class="group-size-td align-right"></td>
			</tr>
		</thead>
		<tbody id="groupsTbody">
			{% for group in groups %}
			<tr>
				<td class="group-icon-td">
					<i data-id="{{ group.id }}" class="groups-check material-icons">&#xE835;</i>
				</td>
				<td class="group-name-td" id="{{ group.id }}" data-toggle="modal" data-target="#groupMembersModal" onclick="open_group(this.id)">{{ group.name }}</td>
				<td class="group-size-td align-right" id="{{ group.id }}" data-toggle="modal" data-target="#groupMembersModal" onclick="open_group(this.id)">
					{% if group.size == 1 %}
					{{ group.size }} member
					{% else %}
					{{ group.size }} members
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script type="text/javascript">
$(".datepicker").datepicker({
    dateFormat: "MM dd, yy"
});

$('.search-groups').keypress(function(e){
    if (e.which == 13) {
    	search_groups($(this).attr('id'));
    }
});

$('.groups-check').on('click', function () {
  var entry_id = $(this).attr('data-id');
  if ($(this).hasClass('checked')) {
    $(this).removeClass('checked');
    $(this).html('&#xE835;');
    deselect_group(entry_id);
  }
  else {
    $(this).addClass('checked');
    $(this).html('&#xE834;');
    select_group(entry_id);
  }
});

</script>