<div id="chartToggleContainer" class="search-container">
	<span id="chartToggle">Chart</span><i id="historyToggleIcon" class="material-icons">keyboard_arrow_right</i>
</div>
<canvas id="historyChart" class="hidden"></canvas>
<div class="search-container">
	<input type="text" id="searchHistory" class="search-text-box form-control" placeholder="Search history">
	<div id="clearHistorySearchBtn" class="clear-search hidden">
		<div>
			<span>Clear Search</span>
		</div>
	</div>
</div>
<div class="search-container">
	<input type="text" id="searchHistoryDate" class="search-text-box form-control datepicker" placeholder="Date" value="{{ date }}">
</div>
<div class="content-header">
	<div class="content-header-left">
		{% if total_entries == 1 %}
		<span id="historyCount" class="total-entries">{{ total_entries }} Item</span>
		{% else %}
		<span id="historyCount" class="total-entries">{{ total_entries }} Items</span>
		{% endif %}
	</div>
	<div class="content-header-right">
		<strong id="historyTotal">Total: PHP {{ total }}</strong>
	</div>
</div>
<div class="history-entry-container">
	{% for entry in transactions %}
	<div onclick="open_transaction({{ entry.id }})" class="entry">
		<div class="active-entry-left">
			<div>
				<span class="active-entry-name">{{ entry.customer_name }}</span>
			</div>
			<div>
				<span class="active-entry-date">{{ entry.date }} | {{ entry.time }}</span>
			</div>
		</div>
		<div id="{{ entry.id }}EntryRight" class="active-entry-right">
			<div class="status-container">
				<span class="history-price">PHP {{ entry.total }}</span>
			</div>
		</div>
	</div>
{% endfor %}
</div>

<script type="text/javascript">
$('#chartToggleContainer').on('click', function () {
	if ($('#historyChart').hasClass('hidden')) {
		$('#historyChart').removeClass('hidden');
		$('#historyToggleIcon').html('keyboard_arrow_down')
	}
	else {
		$('#historyChart').addClass('hidden');
		$('#historyToggleIcon').html('keyboard_arrow_right')
	}
});

$(".datepicker").datepicker({
    dateFormat: "MM dd, yy"
});

(function($) {
$.fn.donetyping = function(callback){
    var _this = $(this);
    var x_timer;    
    _this.keyup(function (){
        clearTimeout(x_timer);
        x_timer = setTimeout(clear_timer, 500);
    }); 

    function clear_timer(){
        clearTimeout(x_timer);
        callback.call(_this);
    }
}
})(jQuery);

$('#searchHistory').donetyping(function(callback){
  search_history($(this).val());
});

$('#clearHistorySearchBtn').on('click', function () {
  $('#searchHistory').val('');
  search_history('');
});

$('#searchHistoryDate').on('change', function () {
	search_history($('#searchHistory').val());
});

var ctx = document.getElementById("historyChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        datasets: [{
            label: 'Revenue',
            data: [{{january}}, {{february}}, {{march}}, {{april}}, {{may}}, {{june}}, {{july}}, {{august}}, {{september}}, {{october}}, {{november}}, {{december}}],
            backgroundColor: [
                'rgba(51,122,183, 0.8)'
            ],
            borderColor: [
                'rgba(51,122,183, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

