<div class="search-container">
	<input type="text" id="searchHistoryDate" class="search-text-box form-control datepicker" placeholder="Date" value="{{ date }}">
</div>
<div class="search-container">
	<input type="text" id="searchHistory" class="search-text-box form-control" placeholder="Search history">
</div>
<div class="content-header">
	<div class="content-header-left">
		<span class="total-entries">{{ total_entries }} Items</span>
	</div>
	<div class="content-header-right">
		<strong>Total: PHP {{ total }}</strong>
	</div>
</div>
<div class="history-entry-container">
	{% for entry in transactions %}
	<div onclick="open_transaction({{ entry.id }})" class="entry">
		<div class="active-entry-left">
			<div>
				<span class="active-entry-name">{{ entry.customer_name }}</span>
			</div>
			<div>
				<span class="active-entry-date">{{ entry.date }} | {{ entry.time }}</span>
			</div>
		</div>
		<div id="{{ entry.id }}EntryRight" class="active-entry-right">
			<div class="status-container">
				<span class="history-price">PHP {{ entry.total }}</span>
			</div>
		</div>
	</div>
{% endfor %}
</div>

<script type="text/javascript">
	$(".datepicker").datepicker({
	    dateFormat: "MM dd, yy"
	});
</script>