<div class="content-header">
	<div class="content-right-btn-container">
		<button class="btn control-btn" onclick="show_history('reset')"><i class="material-icons">&#xE5D5;</i></button>
		<div class="pagination-btn-container">
			<div class="pagination-label-container">
				<span class="pagination-label"><strong id="paginationShowingHistory">{{ showing }}</strong></span>
				<span class="pagination-label separator">of</span>
				<span class="pagination-label"><strong id="paginationTotalHistory">{{ total_entries }}</strong></span>
			</div>
			{% if prev_btn == 'enabled' %}
			<button class="btn pagination-btn left history" onclick="history_prev_page()"><i class="material-icons">&#xE5CB;</i></button>
			{% else %}
			<button class="btn pagination-btn left history" onclick="history_prev_page()" disabled><i class="material-icons">&#xE5CB;</i></button>
			{% endif %}

			{% if next_btn == 'enabled' %}
			<button class="btn pagination-btn right history" onclick="history_next_page()"><i class="material-icons">&#xE5CC;</i></button>
			{% else %}
			<button class="btn pagination-btn right history" onclick="history_next_page()" disabled><i class="material-icons">&#xE5CC;</i></button>
			{% endif %}
		</div>
	</div>
</div>
{% if not history[0] %}
<div id="emptyHistory" class="empty-overlay">
	<span class="empty-label">No records yet.</span>
</div>
{% endif %}
<div id="contentBody" class="content-body">
	<table class="table content-table">
		<thead>
			<tr>
				<th class="history-waybill-td">Waybill No.</th>
				<th class="history-type-td">Type</th>
				<th class="history-recipient-td">Consigned To</th>
				<th class="history-amount-td align-right">Amount</th>
				<th class="history-payment-td align-right">Payment Date</th>
			</tr>
			<tr class="search-panel history">
				<td class="history-waybill-td">
					<input type="text" id="searchHistoryWaybill" class="form-control search-history search-text">
				</td>
				<td class="history-type-td">
					<select id="searchHistoryType" class="form-control search-history search-text">
						<option value="" selected>All</option>
						<option value="Cash">Cash</option>
						<option value="Charge">Charge</option>
					</select>
				</td>
				<td class="history-recipient-td">
					<input type="text" id="searchHistoryRecipient" class="form-control search-history search-text">
				</td>
				<td class="history-amount-td">
					<input type="text" id="searchHistoryAmount" class="form-control search-history search-text align-right">
				</td>
				<td class="history-payment-td">
					<input type="text" id="searchHistoryPayment" class="form-control search-history search-text align-right datepicker">
				</td>
			</tr>
		</thead>
		<tbody id="historyTbody">
			{% for entry in history %}
			<tr id="{{ entry.id }}" onclick="open_waybill({{ entry.id }})">
				<td class="history-waybill-td">{{ entry.waybill_no }}</td>
				<td class="history-type-td">{{ entry.waybill_type }}</td>
				<td class="history-recipient-td">{{ entry.recipient }}</td>
				<td class="history-amount-td align-right">PHP {{ entry.total }}</td>
				<td class="history-payment-td align-right">{{ entry.payment_date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script type="text/javascript">
$(".datepicker").datepicker({
    dateFormat: "MM dd, yy"
});

$('.search-history').keypress(function(e){
    if (e.which == 13) {
      search_history($(this).attr('id'));
    }
});

$('.search-history').change(function(){
    search_history($(this).attr('id'));
});
</script>