<div class="content-header">
	<div class="content-right-btn-container">
		<button class="btn control-btn" onclick="show_inbound('reset')"><i class="material-icons">&#xE5D5;</i></button>
		<button id="addWaybillBtn" class="btn control-btn" data-toggle="modal" data-target="#addWaybillModal" onclick="supply_date()" data-backdrop="static" data-keyboard="false"><i class="material-icons md-30">add</i></button>
		<button id="deleteInboundBtn" data-toggle="modal" data-target="#deleteInboundModal" class="btn control-btn hidden"><i class="material-icons">&#xE872;</i></button>
		<div class="pagination-btn-container">
			<div class="pagination-label-container">
				<span class="pagination-label"><strong id="paginationShowingConversation">1-{{ limit }}</strong></span>
				<span class="pagination-label separator">of</span>
				<span class="pagination-label"><strong id="paginationTotalConversation">{{ total_entries }}</strong></span>
			</div>
			{% if prev_btn == 'enabled' %}
			<button class="btn pagination-btn left inbound" onclick="inbound_prev_page()"><i class="material-icons">&#xE5CB;</i></button>
			{% else %}
			<button class="btn pagination-btn left inbound" onclick="inbound_prev_page()" disabled><i class="material-icons">&#xE5CB;</i></button>
			{% endif %}

			{% if next_btn == 'enabled' %}
			<button class="btn pagination-btn right inbound" onclick="inbound_next_page()"><i class="material-icons">&#xE5CC;</i></button>
			{% else %}
			<button class="btn pagination-btn right inbound" onclick="inbound_next_page()" disabled><i class="material-icons">&#xE5CC;</i></button>
			{% endif %}
		</div>
	</div>
</div>
{% if not packages[0] %}
<div class="empty-overlay">
	<span class="empty-label">No records yet.</span>
</div>
{% endif %}
<div class="content-body">
	<div id="searchLoader" class="hidden">
		Loading..
	</div>
	<table class="table content-table">
		<thead>
			<tr>
				<th class="tracking-td">
					Waybill No.
				</th>
				<th class="type-td">
					Type
				</th>
				<th class="destination-td">
					Destination
				</th>
				<th class="recipient-td">
					Recipient
				</th>
				<th class="status-td">
					Status
				</th>
				<th class="price-td align-right">
					Amount
				</th>
				<th class="date-td align-right">
					Date Received
				</th>
				<th class="date-td align-right">
					Date Arrived
				</th>
			</tr>
			<tr class="search-panel inbound">
				<td class="tracking-td">
					<input type="text" id="searchConversationName" class="form-control search-inbound search-text">
				</td>
				<td class="type-td">
					<input type="text" id="searchConversationOrigin" class="form-control search-inbound search-text">
				</td>
				<td class="destination-td">
					<input type="text" id="searchConversationOrigin" class="form-control search-inbound search-text">
				</td>
				<td class="recipient-td">
					<input type="text" id="searchConversationRecipient" class="form-control search-inbound search-text">
				</td>
				<td class="status-td">
					<input type="text" id="searchConversationDate" class="form-control search-inbound search-text align-center">
				</td>
				<td class="price-td align-right">
					<input type="text" id="searchConversationDate" class="form-control search-inbound search-text align-right">
				</td>
				<td class="date-td align-right">
					<input type="text" id="searchConversationDate" class="form-control search-inbound search-text align-right datepicker">
				</td>
				<td class="date-td align-right">
					<input type="text" id="searchConversationDate" class="form-control search-inbound search-text align-right datepicker">
				</td>
			</tr>
		</thead>
		<tbody id="inboundTbody">
			{% for entry in packages %}
			<tr onclick="open_waybill({{ entry.id }})">
				<td class="traking-td">{{ entry.waybill_no }}</td>
				<td class="type-td">{{ entry.waybill_type }}</td>
				<td class="destination-td">{{ entry.destination }}</td>
				<td class="recipient-td">{{ entry.recipient }}</td>
				<td class="status-td">{{ entry.status }}</td>
				<td class="price-td align-right">PHP {{ entry.total }}</td>
				<td class="date-td align-right">{{ entry.date_received }}</td>
				<td class="date-td align-right">{{ entry.arrival_date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>