{% extends "base.html" %}
{% block content %}
<div id="navigation">
	<div class="nav-upper">
		<div class="display-pic-container">
			<img src="{{ user.img }}">
		</div>
		<span id="displayName">{{ user.name }}</span>
	</div>
	<div class="nav-lower">
		<div id="navHome" class="nav-item active">Home</div>
		<div id="navProfile" class="nav-item">Profile</div>
		<div class="logout-container">
			<a href="/logout"><button type="button" id="logoutBtn" class="btn btn-danger">Logout</button></a>
		</div>
	</div>
</div>
<div class="main">
	<div id="header">
		<div class="header-left">
			<i id="menuToggleBtn" class="material-icons">menu</i>
		</div>
		<div class="header-right">
			<div class="right-align-container">
				<span class="header-logo">App Name</span>
			</div>
		</div>
	</div>
	<div class="search-container">
		<input type="text" id="searchDestinations" class="form-control" placeholder="Search destinations">
	</div>
	<div class="content">
		<div class="content-header">
			<div class="content-header-left">
				<span class="page-label">Destinations</span>
			</div>
			<div class="content-header-right">
				<div class="right-align-container">
					<div id="sortAdjustBtn">
						<span class="sort-text">Top Rated</span>
						<i class="material-icons sort-icon">
	                        keyboard_arrow_down
	                    </i>
					</div>
				</div>
			</div>
		</div>
		<div class="destinations-container">
			{% for entry in destinations %}
			<div class="destination col-xs-12 col-sm-6 col-lg-4">
				<i id="entry.id" class="material-icons favorite-btn">favorite_border</i>
				<img class="destination-img" src="{{ entry.img }}">
				<div class="destination-info-container">
					<div class="destination-name-container">
						<div>
							<span class="destination-name">{{ entry.name }}</span>
						</div>
						<div>
							<span class="destination-city">{{ entry.city }}</span>
						</div>
					</div>
					<div class="destination-heart-container">
						<div class="rating-average-container">
							<div class="right-align-container">
								<span class="rating-average">{{ entry.rating_avg }}</span>
							</div>
						</div>
						<div class="right-align-container">
							<i class="material-icons destination-heart">
		                        star
		                    </i>
	                    </div>
					</div>
					<div class="destination-desc-container">
						<p class="destination-desc">
							{{ entry.description }}
						</p>
					</div>
					<div class="destination-events-container">
						{% if entry.upcoming_events == '' %}
						<span class="destination-events-text">No upcoming events.</span>
						{% else %}
						<span class="destination-events-label">Upcoming events:</span>
						<span class="destination-events-text">Sample, Another sample, Sample, Another sample, Sample, Another sample</span>
						{% endif %}
					</div>
					<div class="destination-expand-container">
						<span class="read-more">Read more</span>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %} 