{% extends "base.html" %}
{% block content %}
<div id="header">
	<span class="client-name">{{ client_name }}</span>
</div>
<div class="nav-container">
    <div id="navActive" class="nav-item col-xs-4 active" onclick="show_active()"><span class="nav-item-label">Active</span></div>
	<div id="navHistory" class="nav-item col-xs-4" onclick="show_history()"><span class="nav-item-label">History</span></div>
	<div id="navSettings" class="nav-item col-xs-4" onclick="show_settings()"><span class="nav-item-label">Settings</span></div>
	<div class="hr-container">
		<hr class="nav-border" />
	</div>
</div>
<div class="content">
	<div class="add-btn-container">
		<a id="addTransactionBtn" class="btn-floating btn-large waves-effect waves-light red" data-toggle="modal" data-target="#addTransactionModal"><i class="material-icons">add</i></a>
	</div>
	<div class="search-container">
		<input type="text" id="searchActive" class="search-text-box form-control" placeholder="Search active transactions">
	</div>
	<div class="content-header">
		<div class="content-header-left">
			<span class="total-entries">{{ total_entries }} Items</span>
		</div>
		<div class="content-header-right">
			{% if user.active_sort == 'Alphabetical' %}
			<span class="sort-options modal-trigger" data-toggle="modal" data-target="#activeSortModal">Sort: A-Z</span>
			{% else %}
			<span class="sort-options modal-trigger" data-toggle="modal" data-target="#activeSortModal">Sort: By Date</span>
			{% endif %}
		</div>
	</div>
	<div class="active-entry-container">
		{% for entry in transactions %}
		<div class="entry" onclick="open_transaction({{ entry.id }})">
			<div class="active-entry-left">
				<div>
					<span class="active-entry-name">{{ entry.customer_name }}</span>
				</div>
				<div>
					<span class="active-entry-date">{{ entry.date }} | {{ entry.time }}</span>
				</div>
			</div>
			<div class="active-entry-right">
				<div class="status-container">
					{% if entry.status == 'Pending' %}
					<span class="active-entry-status pending">{{ entry.status }}</span>
					{% else %}
					<span class="active-entry-status processing">{{ entry.status }}</span>
					{% endif %}
				</div>
				<div class="active-entry-action-container">
					<i class="material-icons close-action-icon">close</i>
					{% if entry.status == 'Pending' %}
					<button type="button" class="active-entry-action btn processing">Processing</Button>
					{% else %}
					<button type="button" class="active-entry-action btn done">Done</Button>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %} 