{% extends "base.html" %}
{% block content %}
<div class="left-panel">
	<div class="compose-btn-container">
		<button id="createWaybillAltBtn" class="btn btn-primary" data-toggle="modal" data-target="#addWaybillModal" onclick="supply_date()" data-backdrop="static" data-keyboard="false">Create Waybill</button>
	</div>
	<div class="lower-panel-container">
		<div id="navInbound" class="panel-nav-item active" onclick="show_inbound('reset')">
			<span class="nav-label">Packages</span>
		</div>
		<div id="navCargo" class="panel-nav-item" onclick="show_cargo('reset')">
			<span class="nav-label">Cargo</span>
		</div>
		<div id="navBlasts" class="panel-nav-item" onclick="show_blasts('reset')">
			<span class="nav-label">History</span>
		</div>
		<div id="navReminders" class="panel-nav-item" onclick="show_payment_reminders('reset')">
			<span class="nav-label">Reports</span>
		</div>
		<div class="nav-separator"></div>
		<div id="navUsers" class="panel-nav-item" onclick="show_users('reset')">
			<span class="nav-label">Users</span>
		</div>
		<div id="navUsage" class="panel-nav-item" onclick="show_usage('reset')">
			<span class="nav-label">Usage</span>
		</div>
	</div>
</div>
<div id="cargoItemError" class="snackbar snackbar-error">
	<div>
		<span class="snackbar-message"></span>
		<i id="closeCargoItemError" class="material-icons">&#xE5CD;</i>
	</div>
</div>
<div id="replySuccess" class="snackbar snackbar-success">
	<div>
		<span class="snackbar-message">Message sent.</span>
		<i id="closeReplySuccess" class="material-icons">&#xE5CD;</i>
	</div>
</div>
<div id="blastOverlay" class="hidden">
	<div class="blast-overlay-dialog">
		<div class="blast-overlay-body"></div>
	</div>
</div>
<div class="content">
	<div class="content-header">
		<div class="content-right-btn-container">
			<button class="btn control-btn" onclick="show_inbound('reset')"><i class="material-icons">&#xE5D5;</i></button>
			<button id="addWaybillBtn" class="btn control-btn" data-toggle="modal" data-target="#addWaybillModal" onclick="supply_date()" data-backdrop="static" data-keyboard="false"><i class="material-icons md-30">add</i></button>
			<button id="deleteInboundBtn" data-toggle="modal" data-target="#deleteInboundModal" class="btn control-btn hidden"><i class="material-icons">&#xE872;</i></button>
			<div class="pagination-btn-container">
				<div class="pagination-label-container">
					<span class="pagination-label"><strong id="paginationShowingConversation">1-{{ limit }}</strong></span>
					<span class="pagination-label separator">of</span>
					<span class="pagination-label"><strong id="paginationTotalConversation">{{ total_entries }}</strong></span>
				</div>
				{% if prev_btn == 'enabled' %}
				<button class="btn pagination-btn left inbound" onclick="inbound_prev_page()"><i class="material-icons">&#xE5CB;</i></button>
				{% else %}
				<button class="btn pagination-btn left inbound" onclick="inbound_prev_page()" disabled><i class="material-icons">&#xE5CB;</i></button>
				{% endif %}

				{% if next_btn == 'enabled' %}
				<button class="btn pagination-btn right inbound" onclick="inbound_next_page()"><i class="material-icons">&#xE5CC;</i></button>
				{% else %}
				<button class="btn pagination-btn right inbound" onclick="inbound_next_page()" disabled><i class="material-icons">&#xE5CC;</i></button>
				{% endif %}
			</div>
		</div>
	</div>
	{% if not packages[0] %}
	<div class="empty-overlay">
		<span class="empty-label">No records yet.</span>
	</div>
	{% endif %}
	<div class="content-body">
		<div id="searchLoader" class="hidden">
			Loading..
		</div>
		<table class="table content-table">
			<thead>
				<tr>
					<th class="tracking-td">
						Waybill No.
					</th>
					<th class="type-td">
						Type
					</th>
					<th class="destination-td">
						Destination
					</th>
					<th class="recipient-td">
						Recipient
					</th>
					<th class="status-td">
						Status
					</th>
					<th class="price-td align-right">
						Amount
					</th>
					<th class="date-td align-right">
						Date Received
					</th>
					<th class="date-td align-right">
						Date Arrived
					</th>
				</tr>
				<tr class="search-panel inbound">
					<td class="tracking-td">
						<input type="text" id="searchConversationName" class="form-control search-inbound search-text">
					</td>
					<td class="type-td">
						<input type="text" id="searchConversationOrigin" class="form-control search-inbound search-text">
					</td>
					<td class="destination-td">
						<input type="text" id="searchConversationOrigin" class="form-control search-inbound search-text">
					</td>
					<td class="recipient-td">
						<input type="text" id="searchConversationRecipient" class="form-control search-inbound search-text">
					</td>
					<td class="status-td">
						<input type="text" id="searchConversationDate" class="form-control search-inbound search-text align-center">
					</td>
					<td class="price-td align-right">
						<input type="text" id="searchConversationDate" class="form-control search-inbound search-text align-right">
					</td>
					<td class="date-td align-right">
						<input type="text" id="searchConversationDate" class="form-control search-inbound search-text align-right datepicker">
					</td>
					<td class="date-td align-right">
						<input type="text" id="searchConversationDate" class="form-control search-inbound search-text align-right datepicker">
					</td>
				</tr>
			</thead>
			<tbody id="inboundTbody">
				{% for entry in packages %}
				<tr onclick="open_waybill({{ entry.id }})">
					<td class="traking-td">{{ entry.waybill_no }}</td>
					<td class="type-td">{{ entry.waybill_type }}</td>
					<td class="destination-td">{{ entry.destination }}</td>
					<td class="recipient-td">{{ entry.recipient }}</td>
					<td class="status-td">{{ entry.status }}</td>
					<td class="price-td align-right">PHP {{ entry.total }}</td>
					<td class="date-td align-right">{{ entry.date_received }}</td>
					<td class="date-td align-right">{{ entry.date_arrived }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div id="messageContainer">
	<div class="message-header">
		<div class="message-header-left">
			<span>New Message</span>
		</div>
		<div class="message-header-right">
			<div>
				<i id="closeMessage" class="material-icons" onclick="close_message()">&#xE5CD;</i>
				<span id="minimizeMessage">_</span>
			</div>
		</div>
	</div>
	<div class="message-recipients-container">
		<div id="recipientContainer">
			<span class="empty-recipient-label">Recipients</span>
		</div>
		<div class="add-recipient-container">
			<i id="addRecipientBtn" class="material-icons" data-toggle="modal" data-target="#addRecipientModal">&#xE145;</i>
		</div>
	</div>
	<div class="message-body-container">
		<textarea oninput="textCounter(this,'characterCounter',420);" id="messageBody" class="form-control" placeholder="Write your message here"></textarea>
	</div>
	<div class="message-footer-container">
		<div class="message-footer-left">
			<button type="button" id="sendMessageBtn" class="btn btn-primary" onclick="send_text_blast()" data-loading-text="Preparing" data-complete-text="Send">Send</button>
		</div>
		<div class="message-footer-right">
			<div>
				<input disabled  value="Remaining: 420" id="characterCounter">
			</div>
		</div>
	</div>
</div>
{% endblock %}