<div class="modal fade" id="addReminderModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Text Blast (File Upload)</h4>
            </div>
            <div class="modal-body">
                <form id="uploadFileForm" method="post" enctype="multipart/form-data">
                    <input name="file" id="file" type="file">
                </form>
                <span id="fileErrorMessage" class="error-text hidden"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
                <button id="sendReminderBtn" type="button" class="btn btn-primary modal-btn" onclick="send_reminder()" data-loading-text="Preparing.." data-complete-text="Upload">Upload</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="uploadContactsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Import Contacts (File Upload)</h4>
            </div>
            <div class="modal-body">
                <form id="uploadContactsForm" method="post" enctype="multipart/form-data">
                    <input name="contactsFile" id="contactsFile" type="file">
                </form>
                <span id="contactsFileErrorMessage" class="error-text hidden"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
                <button id="uploadContactsBtn" type="button" class="btn btn-primary modal-btn" onclick="upload_contacts()" data-loading-text="Preparing.." data-complete-text="Upload">Upload</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="viewReminderModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">File</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addWaybillModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">New Waybill</h4>
            </div>
            <div class="modal-body">
                <div class="input-container left">
                    <input type="text" id="addWaybillDate" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorDate" class="form-control floatlabel datepicker" data-class="input-label" placeholder="Date Received">
                    <div id="errorDate" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="addWaybillNumber" onblur="validate_blank(this,this.value)" data-error="errorWaybillNumber" class="form-control floatlabel" data-class="input-label" placeholder="Waybill Number">
                    <div id="errorWaybillNumber" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container left">
                    <select id="addWaybillType" data-error="errorType" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" class="form-control">
                        <option value="" selected disabled>Type</option>
                        <option value="Cash">Cash</option>
                        <option value="Charge">Charge</option>
                    </select>
                    <div id="errorType" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="addWaybillRecipient" data-error="errorRecipient" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Recipient / Consigned To">
                    <div id="errorRecipient" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container left">
                    <input type="text" id="addWaybillRecipientMsisdn" data-error="errorRecipientMsisdn" onblur="validate_blank(this,this.value); validate_msisdn(this,this.value);" class="form-control floatlabel" data-class="input-label" placeholder="Recipient's contact number">
                    <div id="errorRecipientMsisdn" class="error-icon-container hidden tooltip" title="Must be exactly 11 characters."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="addWaybillDestination" data-error="errorDestination" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Destination City">
                    <div id="errorDestination" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <input type="text" id="addWaybillAddress" class="form-control floatlabel" data-class="input-label" placeholder="Recipient Address">
                </div>
                <div class="input-container left">
                    <input type="text" id="addWaybillShipper" data-error="errorShipper" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Shipper">
                    <div id="errorShipper" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="addWaybillShipperMsisdn" data-error="shipperMsisdn" onblur="validate_blank(this,this.value); validate_msisdn(this,this.value);" class="form-control floatlabel" data-class="input-label" placeholder="Shipper's contact number">
                    <div id="shipperMsisdn" class="error-icon-container hidden tooltip" title="Must be exactly 11 characters."><i class="material-icons">&#xE001;</i></div>
                </div>
                <span class="input-group-label">Package Content</span>
                <table id="waybillItemTable" class="table">
                    <thead>
                        <tr>
                            <th class="waybill-item-td">Item</th>
                            <th class="waybill-quantity-td align-right">Quantity</th>
                            <th class="waybill-unit-td align-right">Unit</th>
                            <th class="waybill-price-td align-right">Price</th>
                            <th class="waybill-delete-td"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addWaybillItemModal">Add Item</button>
                <div class="waybill-payment-container">
                    <div class="waybill-payment-left">
                        <span class="waybill-payment"><strong>Total:</strong></span>
                        <span class="waybill-payment">Amount Tendered:</span>
                        <span class="waybill-payment">Change Due:</span>
                    </div>
                    <div class="waybill-payment-right">
                        <span class="waybill-payment" id="waybillTotal">PHP 0</span>
                        <span class="waybill-payment" id="waybillTendered">
                            <span class="payment-php">PHP</span>
                            <input type="text" id="waybillTenderedText" class="form-control" placeholder="0" onkeyup="compute_change()">
                        </span>
                        <span class="waybill-payment" id="waybillChange">PHP 0</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelWaybillBtn" class="btn btn-danger modal-btn" onclick="clear_waybill_data()" data-loading-text="Closing.." data-complete-text="Close">Close</button>
                <button type="button" id="saveWaybillBtn" class="btn btn-primary modal-btn" data-loading-text="Saving.." data-complete-text="Save" onclick="save_waybill()" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="editWaybillModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Waybill Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelWaybillBtn" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
                <button type="button" id="saveWaybillBtn" class="btn btn-primary modal-btn" data-loading-text="Saving.." data-complete-text="Save" onclick="save_waybill()" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="editCargoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Cargo Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelWaybillBtn" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
                <button type="button" id="saveWaybillBtn" class="btn btn-primary modal-btn" data-loading-text="Saving.." data-complete-text="Save" onclick="save_waybill()" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="receiveCargoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Receive Cargo</h4>
            </div>
            <div class="modal-body">
                <div class="input-container left">
                    <input type="text" id="receiveCargoArrivalDate" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value);validate_cargo_receipt();" data-error="errorCargoReceiveArrivalDate" class="form-control floatlabel datepicker" data-class="input-label" placeholder="Arrival Date" onkeyup="validate_cargo_receipt()">
                    <div id="errorCargoReceiveArrivalDate" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="receiveCargoArrivalTime" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value);validate_cargo_receipt();" data-error="errorCargoReceiveArrivalTime" class="form-control floatlabel clockpicker" data-class="input-label" placeholder="Arrival Time" onkeyup="validate_cargo_receipt()">
                    <div id="errorCargoReceiveArrivalTime" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <table id="receiveCargoItemsTable" class="table">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelWaybillBtn" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
                <button type="button" id="saveCargoReceiptBtn" class="btn btn-primary modal-btn" data-loading-text="Saving.." data-complete-text="Receive" onclick="save_cargo_receipt()" disabled>Receive</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addCargoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">New Cargo</h4>
            </div>
            <div class="modal-body">
                <div class="input-container left">
                    <input type="text" id="addCargoNumber" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorCargoNumber" class="form-control floatlabel" data-class="input-label" placeholder="Cargo Number">
                    <div id="errorCargoNumber" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="addCargoTruck" onblur="validate_blank(this,this.value)" data-error="errorCargoTruck" class="form-control floatlabel" data-class="input-label" placeholder="Truck">
                    <div id="errorCargoTruck" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container left">
                    <input type="text" id="addCargoDriver" onblur="validate_blank(this,this.value)" data-error="errorCargoDriver" class="form-control floatlabel" data-class="input-label" placeholder="Driver">
                    <div id="errorCargoDriver" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="addCargoCrew" onblur="validate_blank(this,this.value)" data-error="errorCargoCrew" class="form-control floatlabel" data-class="input-label" placeholder="Crew">
                    <div id="errorCargoCrew" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container left">
                    <input type="text" id="addCargoOrigin" onblur="validate_blank(this,this.value)" data-error="errorCargoOrigin" class="form-control floatlabel" data-class="input-label" placeholder="Origin" value="Manila">
                    <div id="errorCargoOrigin" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="addCargoDestination" onblur="validate_blank(this,this.value)" data-error="errorCargoDestination" class="form-control floatlabel" data-class="input-label" placeholder="Destination">
                    <div id="errorCargoDestination" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container left">
                    <input type="text" id="addCargoDepartureDate" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorCargoDepartureDate" class="form-control floatlabel datepicker" data-class="input-label" placeholder="Departure Date">
                    <div id="errorCargoDepartureDate" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <input type="text" id="addCargoDepartureTime" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorCargoDepartureTime" class="form-control floatlabel clockpicker" data-class="input-label" placeholder="Departure Time">
                    <div id="errorCargoDepartureTime" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container left">
                    <input type="text" id="addCargoArrivalDate" class="form-control floatlabel datepicker" data-class="input-label" placeholder="Arrival Date">
                </div>
                <div class="input-container right">
                    <input type="text" id="addCargoArrivalTime" class="form-control floatlabel clockpicker" data-class="input-label" placeholder="Arrival Time">
                </div>
                <span class="input-group-label">Cargo Content</span>
                <table id="cargoItemTable" class="table">
                    <thead>
                        <tr>
                            <th class="cargo-waybill-td">Waybill No.</th>
                            <th class="cargo-recipient-td">Consigned To</th>
                            <th class="cargo-item-td">Item</th>
                            <th class="cargo-quantity-td align-right">Quantity</th>
                            <th class="cargo-unit-td align-right">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button id="addCargoItemBtn" class="btn btn-primary" data-toggle="modal" data-target="#addCargoItemModal" onclick="supply_cargo_items()" data-backdrop="static" data-keyboard="false">Manage Items</button>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelCargoBtn" class="btn btn-danger modal-btn" onclick="clear_cargo_items()" data-loading-text="Closing.." data-complete-text="Close">Close</button>
                <button type="button" id="saveCargoBtn" class="btn btn-primary modal-btn" data-loading-text="Saving.." data-complete-text="Save" onclick="save_cargo()" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addCargoItemModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Cargo Items</h4>
            </div>
            <div class="modal-body">
                <form id="addCargoWaybillForm" onsubmit="add_cargo_item(event,this.value)">
                    <input type="text" id="addCargoItemWaybillNumber" class="form-control" placeholder="Waybill Number" autocomplete="off">
                    <button type="submit" id="addCargoWaybillBtn" class="btn btn-primary" disabled>Add</button>
                </form>
                <table id="addCargoItemTable" class="table">
                    <thead>
                        <tr>
                            <th class="cargo-item-waybill-number-td">Waybill No.</th>
                            <th class="cargo-item-waybill-type-td">Type</th>
                            <th class="cargo-item-waybill-destination-td">Destination</th>
                            <th class="cargo-item-waybill-recipient-td">Consigned To</th>
                            <th class="cargo-item-waybill-delete-td"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveCargoItemsBtn" class="btn btn-primary modal-btn" onclick="save_cargo_items()" data-loading-text="Saving.." data-complete-text="Done">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<!-- START OF DELETE ENTRIES -->

<div class="modal fade" id="addWaybillItemModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Waybill Item</h4>
            </div>
            <div class="modal-body">
                <div class="input-container whole">
                    <input type="text" data-error="errorWaybillItemName" id="waybillItemName" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Name">
                    <div id="errorWaybillItemName" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>

                <div class="input-container whole">
                    <input type="text" data-error="errorWaybillItemQuantity" id="waybillItemQuantity" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Quantity">
                    <div id="errorWaybillItemQuantity" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>

                <div class="input-container whole">
                    <input type="text" data-error="errorWaybillItemUnit" id="waybillItemUnit" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Unit">
                    <div id="errorWaybillItemUnit" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>

                <div class="input-container whole">
                    <input type="text" data-error="errorWaybillItemPrice" id="waybillItemPrice" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Price">
                    <div id="errorWaybillItemPrice" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveWaybillItemBtn" class="btn btn-primary modal-btn" onclick="save_waybill_item()" data-loading-text="Saving.." data-complete-text="Save" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addWaybillItemEditModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Waybill Item</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="waybillItemNameEdit" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Name">
                <input type="text" id="waybillItemQuantityEdit" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Quantity">
                <input type="text" id="waybillItemUnitEdit" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Unit">
                <input type="text" id="waybillItemPriceEdit" onblur="validate_blank(this,this.value)" class="form-control floatlabel" data-class="input-label" placeholder="Price">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveWaybillItemEditBtn" class="btn btn-primary modal-btn" onclick="save_waybill_item_edit()" data-loading-text="Saving.." data-complete-text="Save">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="forgotPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Oops!</h4>
            </div>
            <div class="modal-body">
                <span class="forgot-payment-message"></span>
                <div class="forgotten-payment-left">
                    <span class="forgotten-payment"><strong>Total:</strong></span>
                    <span class="forgotten-payment">Amount Tendered:</span>
                    <span class="forgotten-payment">Change Due:</span>
                </div>
                <div class="forgotten-payment-right">
                    <span class="forgotten-payment" id="forgottenTotal">PHP 0</span>
                    <span class="forgotten-payment" id="forgottenTendered">
                        <span class="payment-php">PHP</span>
                        <input type="text" id="forgottenTenderedText" class="form-control" placeholder="0" onkeyup="compute_forgotten_change()">
                    </span>
                    <span class="forgotten-payment" id="forgottenChange">PHP 0</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
                <button id="forgottenPaymentBtn" type="button" class="btn btn-primary modal-btn" disabled onclick="add_forgotten_payment()">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="forgotWaybillItemModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Oops!</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Looks like you forgot to add the package content.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="open_forgotten_waybill_item()">Add Content</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteContactsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to delete selected item/s?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_contacts()" data-loading-text="Preparing.." data-complete-text="Delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteGroupsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to delete selected item/s?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_groups()" data-loading-text="Preparing.." data-complete-text="Delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to remove this member from the group?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_group_member()" data-loading-text="Preparing.." data-complete-text="Delete">Remove</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- END OF DELETE ENTRIES -->