<div class="modal fade" id="activeSortModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="gridSystemModalLabel">Sort</span>
            </div>
            <div class="modal-body">
                <div id="activeSortAlphabetical" class="sort-selector active">Alphabetical</div>
                <div id="activeSortByDate" class="sort-selector">By Date</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>