{% if special == None and not group_recipients and  not individual_recipients and not number_recipients %}
<span class="empty-recipient-label">Recipients</span>
{% else %}
{% if special != None %}

<div class="saved-recipient-container">
	<span class="saved-recipient-name group">{{ special }}</span>
</div>

{% for number in number_recipients %}
<div class="saved-recipient-container">
	<span class="saved-recipient-name individual">{{ number }}</span>
</div>
{% endfor %}

{% else %}

{% for group in group_recipients %}
<div class="saved-recipient-container">
	<span class="saved-recipient-name group">{{ group }}</span>
</div>
{% endfor %}
{% for contact in individual_recipients %}
<div class="saved-recipient-container">
	<span class="saved-recipient-name individual">{{ contact }}</span>
</div>
{% endfor %}
{% for number in number_recipients %}
<div class="saved-recipient-container">
	<span class="saved-recipient-name individual">{{ number }}</span>
</div>
{% endfor %}
{% endif %}
{% endif %}