<div class="content-header">
	<div class="content-right-btn-container">
		<button class="btn control-btn" onclick="show_payment_reminders('reset')"><i class="material-icons">&#xE5D5;</i></button>
		<button id="addReminderBtn" class="btn control-btn" data-toggle="modal" data-target="#addReminderModal"><i class="material-icons md-30">&#xE2C6;</i></button>
		<button id="deleteRemindersBtn" data-toggle="modal" data-target="#deleteRemindersModal" class="btn control-btn hidden"><i class="material-icons">&#xE872;</i></button>
		<div class="pagination-btn-container">
			<div class="pagination-label-container">
				<span class="pagination-label"><strong id="paginationShowingReminders">{{ showing }}</strong></span>
				<span class="pagination-label separator">of</span>
				<span class="pagination-label"><strong id="paginationTotalReminders">{{ total_entries }}</strong></span>
			</div>
			{% if prev_btn == 'enabled' %}
			<button class="btn pagination-btn left reminder" onclick="reminder_prev_page()"><i class="material-icons">&#xE5CB;</i></button>
			{% else %}
			<button class="btn pagination-btn left reminder" onclick="reminder_prev_page()" disabled><i class="material-icons">&#xE5CB;</i></button>
			{% endif %}

			{% if next_btn == 'enabled' %}
			<button class="btn pagination-btn right reminder" onclick="reminder_next_page()"><i class="material-icons">&#xE5CC;</i></button>
			{% else %}
			<button class="btn pagination-btn right reminder" onclick="reminder_next_page()" disabled><i class="material-icons">&#xE5CC;</i></button>
			{% endif %}
		</div>
	</div>
</div>
{% if not reminders[0] %}
<div id="emptyReminder" class="empty-overlay">
	<span class="empty-label">No records yet.</span>
</div>
{% endif %}
<div id="contentBody" class="content-body">
	<table class="table content-table">
		<thead>
			<tr class="search-panel conversation">
				<td class="icon-td">
					<span id="clearRemindersSearch" class="hidden link" onclick="show_reminders('reset')">Clear Search</span>
				</td>
				<td class="blast-recipient-td">
					<input type="text" id="searchRemindersSender" class="form-control search-reminders search-text" placeholder="Sender">
				</td>
				<td class="blast-message-td">
					<input type="text" id="searchRemindersFile" class="form-control search-reminders search-text" placeholder="File Name">
				</td>
				<td class="blast-date-td align-right">
					<input type="text" id="searchRemindersDate" class="form-control search-reminders search-text align-right datepicker" placeholder="Date">
				</td>
			</tr>
		</thead>
		<tbody id="remindersTbody">
			{% for entry in reminders %}
			<tr>
				<td class="icon-td">
					<i data-id="{{ entry.id }}" class="reminders-check material-icons">&#xE835;</i>
				</td>
				<td class="blast-recipient-td" onclick="open_reminder({{ entry.id }})" data-toggle="modal" data-target="#viewReminderModal">{{ entry.sender_name }}</td>
				<td class="blast-message-td" onclick="open_reminder({{ entry.id }})" data-toggle="modal" data-target="#viewReminderModal">{{ entry.file_name }}</td>
				<td class="blast-date-td align-right" onclick="open_reminder({{ entry.id }})" data-toggle="modal" data-target="#viewReminderModal">{{ entry.date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script type="text/javascript">
$('#addBlastBtn').on('click', function (e) {
    $('#messageContainer').show();
    $('#messageContainer').removeClass('minimized');
    $('#messageBody').focus();
});

$(".datepicker").datepicker({
    dateFormat: "MM dd, yy"
});

$('.search-reminders').keypress(function(e){
	if (e.which == 13) {
	    search_reminders($(this).attr('id'));
	}
});

$('.reminders-check').on('click', function () {
  var entry_id = $(this).attr('data-id');
  if ($(this).hasClass('checked')) {
    $(this).removeClass('checked');
    $(this).html('&#xE835;');
    deselect_reminder(entry_id);
  }
  else {
    $(this).addClass('checked');
    $(this).html('&#xE834;');
    select_reminder(entry_id);
  }
});

</script>