<div class="add-btn-container">
	<a id="addServiceBtn" class="btn-floating btn-large waves-effect waves-light" data-toggle="modal" data-target="#addServiceModal"><i class="material-icons">add</i></a>
</div>
<div id="servicesChartToggleContainer" class="search-container">
	<span id="servicesChartToggle">Chart</span><i id="servicesToggleIcon" class="material-icons">keyboard_arrow_right</i>
</div>
<canvas id="servicesChart" class="hidden"></canvas>
<div class="search-container">
	<input type="text" id="searchUser" class="search-text-box form-control" placeholder="Search services">
	<div id="clearServicesSearchBtn" class="clear-search hidden">
		<div>
			<span>Clear Search</span>
		</div>
	</div>
</div>
<div class="content-header">
	<div class="content-header-left">
		{% if total_entries == 1 %}
		<span id="serviceTotal" class="total-entries">{{ total_entries }} Item</span>
		{% else %}
		<span id="serviceTotal" class="total-entries">{{ total_entries }} Items</span>
		{% endif %}
	</div>
</div>
<div class="service-entry-container">
	{% for entry in services %}
	<div onclick="open_service({{ entry.id }})" class="entry">
		<div class="active-entry-left">
			<div>
				<span class="service-entry-name">{{ entry.name }}</span>
			</div>
		</div>
		<div class="active-entry-right">
			<div class="status-container">
				<span class="service-entry-price">PHP {{ entry.price }}</span>
			</div>
		</div>
	</div>
{% endfor %}
</div>

<script type="text/javascript">

	$('#servicesChartToggleContainer').on('click', function () {
		if ($('#servicesChart').hasClass('hidden')) {
			$('#servicesChart').removeClass('hidden');
			$('#servicesToggleIcon').html('keyboard_arrow_down')
		}
		else {
			$('#servicesChart').addClass('hidden');
			$('#servicesToggleIcon').html('keyboard_arrow_right')
		}
	});

	$(".datepicker").datepicker({
	    dateFormat: "MM dd, yy"
	});

</script>