<div class="add-btn-container">
	<a id="addTransactionBtn" class="btn-floating btn-large waves-effect waves-light" data-toggle="modal" data-target="#addTransactionModal"><i class="material-icons">add</i></a>
</div>
<div class="search-container">
	<input type="text" id="searchActive" class="search-text-box form-control" placeholder="Search active transactions">
	<div id="clearActiveSearchBtn" class="clear-search hidden">
		<div>
			<span>Clear Search</span>
		</div>
	</div>
</div>
<div class="content-header">
	<div class="content-header-left">
		{% if total_entries == 1 %}
		<span id="activeCount" class="total-entries">{{ total_entries }} Item</span>
		{% else %}
		<span id="activeCount" class="total-entries">{{ total_entries }} Items</span>
		{% endif %}
	</div>
	<div class="content-header-right">
		{% if user.active_sort == 'Alphabetical' %}
		<span class="sort-options modal-trigger" data-toggle="modal" data-target="#activeSortModal">Sort: A-Z</span>
		{% else %}
		<span class="sort-options modal-trigger" data-toggle="modal" data-target="#activeSortModal">Sort: By Date</span>
		{% endif %}
	</div>
</div>
<div class="active-entry-container">
	{% for entry in transactions %}
	<div id="{{ entry.id }}" class="entry">
		<div class="active-entry-left" onclick="open_transaction({{ entry.id }})">
			<div>
				<span class="active-entry-name">{{ entry.customer_name }}</span>
			</div>
			<div>
				<span class="active-entry-date">{{ entry.date }} | {{ entry.time }}</span>
			</div>
		</div>
		<div id="{{ entry.id }}EntryRight" class="active-entry-right">
			<div class="status-container">
				{% if entry.status == 'Pending' %}
				<span class="active-entry-status pending">{{ entry.status }}</span>
				{% elif entry.status == 'Processing' %}
				<span class="active-entry-status processing">{{ entry.status }}</span>
				{% else %}
				<span class="active-entry-status done">{{ entry.status }}</span>
				{% endif %}
			</div>
			<div id="{{ entry.id }}ActionContainer" class="active-entry-action-container">
				<i class="material-icons close-action-icon" data-button-id="{{ entry.id }}ActionButton">close</i>
				{% if entry.status == 'Pending' %}
				<button type="button" id="{{ entry.id }}ActionButton" class="active-entry-action btn processing waves-effect waves-light" data-loading-text="Loading" data-complete-text="Process" onclick="process_transaction({{ entry.id }})">Process</Button>
				{% elif entry.status == 'Processing' %}
				<button type="button" id="{{ entry.id }}ActionButton" class="active-entry-action btn done waves-effect waves-light" data-loading-text="Loading" data-complete-text="Done" onclick="done_transaction({{ entry.id }})">Done</Button>
				{% else %}
				<button type="button" id="{{ entry.id }}ActionButton" class="active-entry-action btn finish waves-effect waves-light" data-loading-text="Loading" data-complete-text="Pick Up" onclick="finish_transaction({{ entry.id }})">Pick Up</Button>
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
</div>

<script type="text/javascript">
	$('.active-entry-right').on('click', function () {
	  $('.active-entry-action-container').removeClass('visible');
	  $(this).find('.active-entry-action-container').addClass('visible');
	});

	$('.close-action-icon').on('click', function (e) {
	  e.stopPropagation();
	  $('.active-entry-action-container').removeClass('visible');
	});

	(function($) {
	$.fn.donetyping = function(callback){
	    var _this = $(this);
	    var x_timer;    
	    _this.keyup(function (){
	        clearTimeout(x_timer);
	        x_timer = setTimeout(clear_timer, 500);
	    }); 

	    function clear_timer(){
	        clearTimeout(x_timer);
	        callback.call(_this);
	    }
	}
	})(jQuery);

	$('#searchActive').donetyping(function(callback){
	  search_active_transactions($(this).val());
	});

	$('#clearActiveSearchBtn').on('click', function () {
	  $('#searchActive').val('');
	  search_active_transactions('');
	});
</script>