<div class="add-btn-container">
	<a id="addUserBtn" class="btn-floating btn-large waves-effect waves-light" data-toggle="modal" data-target="#addTransactionModal"><i class="material-icons">add</i></a>
</div>
<div class="search-container">
	<input type="text" id="searchUser" class="search-text-box form-control" placeholder="Search users">
</div>
<div class="content-header">
	<div class="content-header-left">
		{% if total_entries == 1 %}
		<span class="total-entries">{{ total_entries }} User</span>
		{% else %}
		<span class="total-entries">{{ total_entries }} Users</span>
		{% endif %}
	</div>
</div>
<div class="user-entry-container">
	{% for entry in users %}
	<div onclick="open_user({{ entry.id }})" class="entry">
		<div class="active-entry-left">
			<div>
				<span class="user-entry-name">{{ entry.name }}</span>
			</div>
			<div>
				<span class="user-entry-email">{{ entry.email }}</span>
			</div>
		</div>
		<div class="active-entry-right">
			<div class="status-container">
				<span class="user-entry-role">{{ entry.role }}</span>
			</div>
		</div>
	</div>
{% endfor %}
</div>

<script type="text/javascript">
	$(".datepicker").datepicker({
	    dateFormat: "MM dd, yy"
	});
</script>