<a href='{{ file_loc }}'>
	<div class="view-reminder-container">
	    <i class="material-icons view-file-download">&#xE2C4;</i>
	    <span id="viewFilename">{{ batch.file_name }}</span>
	</div>
</a>
<div class="reminder-info-recipients">
	<table class="table">
		<tbody>
			<tr>
				<td class="report-success">Success</td>
				<td class="align-right">{{ batch.done }}</td>
			</tr>
			<tr>
				{% if batch.failed != 0 %}
				<td class="report-failed">Failed <span id="retryBlastBtn" class="link">(click here to retry)</span></td>
				{% else %}
				<td class="report-failed">Failed</td>
				{% endif %}
				<td class="align-right">{{ batch.failed }}</td>
			</tr>
			<tr class="batch-size-tr">
				<td class="report-total">TOTAL</td>
				<td class="align-right">{{ batch.batch_size }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table">
		<thead>
			<tr>
				<th>Contact</th>
				<th>Mobile Number</th>
				<th class="align-right">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for message in failed %}
			<tr>
				<td>{{ message.contact_name }}</td>
				<td>{{ message.msisdn }}</td>
				<td class="report-failed align-right">{{ message.status }}</td>
			</tr>
			{% endfor %}
			{% for message in success %}
			<tr>
				<td>{{ message.contact_name }}</td>
				<td>{{ message.msisdn }}</td>
				<td class="report-success align-right">{{ message.status }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>