<div class="input-container left">
    <input type="text" id="editWaybillDate" class="form-control floatlabel datepicker" data-class="input-label" placeholder="Date" value="{{ waybill.date_received }}">
</div>
<div class="input-container right">
    <input type="text" id="editWaybillNumber" class="form-control floatlabel" data-class="input-label" placeholder="Waybill Number" value="{{ waybill.waybill_no }}">
</div>
<div class="input-container left">
    <select id="editWaybillType" class="form-control">
        {% if waybill.waybill_type == 'Cash' %}
        <option value="Cash" selected>Cash</option>
        <option value="Charge">Charge</option>
        {% else %}
        <option value="Cash">Cash</option>
        <option value="Charge" selected="">Charge</option>
        {% endif %}
    </select>
</div>
<div class="input-container right">
    <input type="text" id="editWaybillRecipient" class="form-control floatlabel" data-class="input-label" placeholder="Recipient / Consigned To" value="{{ waybill.recipient }}">
</div>
<div class="input-container left">
    <input type="text" id="editWaybillRecipientMsisdn" class="form-control floatlabel" data-class="input-label" placeholder="Recipient's contact number" value="{{ waybill.recipient_msisdn }}">
</div>
<div class="input-container right">
    <input type="text" id="editWaybillDestination" class="form-control floatlabel" data-class="input-label" placeholder="Destination City" value="{{ waybill.destination }}">
</div>
<div class="input-container whole">
    <input type="text" id="editWaybillAddress" class="form-control floatlabel" data-class="input-label" placeholder="Recipient Address" value="{{ waybill.recipient_address }}">
</div>
<div class="input-container left">
    <input type="text" id="editWaybillShipper" class="form-control floatlabel" data-class="input-label" placeholder="Shipper" value="{{ waybill.sender }}">
</div>
<div class="input-container right">
    <input type="text" id="editWaybillShipperMsisdn" class="form-control floatlabel" data-class="input-label" placeholder="Shipper's contact number" value="{{ waybill.sender_msisdn }}">
</div>
<span class="input-group-label">Package Content</span>
<table id="waybillItemTable" class="table">
    <thead>
        <tr>
            <th class="waybill-item-td">Item</th>
            <th class="waybill-quantity-td align-right">Quantity</th>
            <th class="waybill-unit-td align-right">Unit</th>
            <th class="waybill-price-td align-right">Price</th>
            <th class="waybill-delete-td"></th>
        </tr>
    </thead>
    <tbody>
        {% for entry in waybill_items %}
        <tr>
            <td class="waybill-item-td">{{ entry.item }}</td>
            <td class="waybill-quantity-td align-right">{{ entry.quantity }}</td>
            <td class="waybill-unit-td align-right">{{ entry.unit }}</td>
            <td class="waybill-price-td align-right">{{ entry.price }}</td>
            <td class="waybill-delete-td"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editWaybillItemModal">Add Item</button>
<div class="waybill-payment-container">
    <div class="waybill-payment-left">
        <span class="waybill-payment"><strong>Total:</strong></span>
        <span class="waybill-payment">Amount Tendered:</span>
        <span class="waybill-payment">Change Due:</span>
    </div>
    <div class="waybill-payment-right">
        <span class="waybill-payment" id="waybillTotal">PHP {{ waybill.total }}</span>
        <span class="waybill-payment" id="waybillTendered">
            <span class="payment-php">PHP</span>
            <input type="text" id="waybillTenderedText" class="form-control" placeholder="0" onkeyup="compute_change()" value="{{ waybill.tendered }}">
        </span>
        <span class="waybill-payment" id="waybillChange">PHP {{ waybill.change }}</span>
    </div>
</div>

<script type="text/javascript">
    $('.form-control.floatlabel').floatlabel({
        labelEndTop:'-2px'
    });
</script>